header {
  position: sticky;
  padding-top: 16px;
  width: 1 124px;
  padding-bottom: 16px;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  max-width: 958px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  width: 120px;
  height: 22px;
  margin-right: 0px;
}
.but {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  width: 78px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: #1d1d1d;

  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 2px;
}
.search {
  margin-top: 32px;
  width: 956px;
  height: 48px;
}
.head {
  width: 217px;
  height: 34px;
  padding-top: 32px;
  margin-bottom: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  /* identical to box height, or 155% */

  color: #1d1d1d;
}
.container .head {
  display: flex;
  text-align: left;
}
section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.block {
  width: 308px;
  height: 369px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  content: " ";
}
.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: #1d1d1d;
}
.text1 {
  left: 0%;
  right: 0%;
  top: 81.97%;
  bottom: 12.3%;
  margin: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /* or 150% */

  display: flex;
  align-items: center;

  color: #626262;
}
.text2 {
  left: 0%;
  right: 0%;
  top: 88.8%;
  bottom: 5.46%;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  /* or 162% */

  display: flex;
  align-items: center;

  color: #1d1d1d;
}

footer {
  width: 1 124px;
  background: #262626;
  background-size: cover;
}
.white-logo {
  width: 190.77px;
  height: 19.69px;
  margin-top: 56px;
}
hr {
  width: 956px;
  height: 1px;
  margin-bottom: 32px;

  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
}
select {
  width: 227px;
  height: 40px;
  margin-top: 32px;
  margin-bottom: 33px;

  color: #ffffff;
  background: #3b3b3b;
  border-radius: 2px;
}
.world {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
  background: #3b3b3b;
  border-radius: 2px;
}
}
.d {
width: 10px;
height: 19px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #49A144;
}
.p {
  display: flex;
  justify-content: left;
}
footer .container .block {
  width: 308px;
  height: 200px;
  margin: 16px 16px 16px 0px;
  display: flex;
  flex-direction: column;
  content: " ";
}
footer .container .container {
  display: flex;
  justify-content: space-between;
}
footer .container .container p {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 15px;
/* identical to box height */

color: #FFFFFF;
}
footer section {
  display: flex;
  justify-content: center;
  
}
footer section img {
  margin-left: 15px;
  margin-right: 15px;
}
.foot {
height: 93px;

}
.foot a {
  margin-top: 25px;
max-width: 958px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
/* identical to box height */
display: flex;
align-items: center;
justify-content: space-between;

color: #FFFFFF;
}